@font-face {
  font-family: 'Champagne';
  src: url("/fonts/cac_champagne-webfont.eot");
  src: url("/fonts/cac_champagne-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/cac_champagne-webfont.woff") format('woff'), url("/fonts/cac_champagne-webfont.ttf") format('truetype'), url("/fonts/cac_champagne-webfont.svg#CACChampagneRegular") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #222;
  color: #fff;
  font-family: Lato, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Oswald, sans-serif;
  margin-bottom: 5px;
  color: #ddd;
  text-shadow: 1px 1px 0 #444;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
a {
  color: #ddd;
  outline: none;
}
a:hover {
  color: #fff;
}
blockquote {
  border-left: 1px dotted #ddd;
  padding: 3px 5px 5px 15px;
  background-color: #272822;
  margin-bottom: 20px;
  font-size: 14px;
}
blockquote p {
  margin: 0 !important;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(100,100,100,0.7);
}
.bold {
  font-weight: bold;
}
.highlight {
  border-left: 1px dotted #ddd;
  padding: 3px 0 5px 15px;
  margin-bottom: 20px;
  background-color: #343434;
  overflow: auto;
}
section.post {
  clear: both;
}
section.post p {
  line-height: 26px;
  margin-bottom: 20px;
}
#index {
  clear: both;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 4em;
  margin: 0;
}
#index img {
  vertical-align: middle;
}
#index a {
  font-weight: bold;
}
#headers {
  font-family: Oswald, sans-serif;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#headers * {
  margin: 0;
}
#headers h1 > a {
  opacity: 1;
  color: #ddd;
  text-decoration: none;
  font: 70px Champagne, serif;
  letter-spacing: 1px;
}
nav li {
  list-style: none;
  margin-bottom: 5px;
}
#social {
  margin-top: 17px;
  padding-top: 10px;
  border-top: 1px dotted #ddd;
  display: none;
}
#social a {
  margin-right: 10px;
  text-decoration: none;
}
#social a:hover {
  position: relative;
  top: 1px;
  transition: transform 300ms ease-in-out;
}
@media (max-width: 1100px) {
  body {
    margin: 10px 20px 0;
  }
  header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ddd;
  }
  section.post {
    margin-top: 20px;
  }
}
@media (min-width: 1100px) {
  html,
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 3.2vw;
  }
  h2 {
    font-size: 1.6vw;
  }
  h3 {
    font-size: 1.6vw;
  }
  h4 {
    font-size: 1.3vw;
  }
  header {
    position: absolute;
    left: 20px;
    top: 15px;
  }
  #headers h1 > a {
    font-size: 5vw;
    line-height: 4.5vw;
  }
  section.post {
    position: absolute;
    left: 40%;
    width: 55%;
    height: 95%;
    padding: 0 20px;
    margin: 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #index img:hover {
    animation: tilt 50ms ease-in 0 forwards;
    -webkit-animation: tilt 50ms ease-in 0 forwards;
    -moz-animation: tilt 50ms ease-in none forwards;
  }
  nav {
    font-size: 1.2vw;
  }
@-moz-keyframes tilt {
    from {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
    }
}
@-webkit-keyframes tilt {
    from {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
    }
}
@-o-keyframes tilt {
    from {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
    }
}
@keyframes tilt {
    from {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
    }
}
}
@media (min-width: 1300px) {
  nav {
    font-size: 1.1vw;
  }
}
@media (min-width: 1600px) {
  h3 {
    font-size: 1.5vw;
  }
  nav {
    font-size: 0.95vw;
  }
}
